<div id="map" style="width: 100%; height: 400px;"></div>


<div class="button-row">
    <button mat-raised-button color="primary" (click)="showMarkers()">Show markers</button>
    <button mat-raised-button color="primary" (click)="saveMarkers()">Save markers</button>
    <button mat-raised-button color="primary" (click)="aboutAuthor()">About author</button>
    <button mat-raised-button color="primary" (click)="logOut()">Log out</button>
</div>


<mat-list class="search-list">
    <h3>You can search for objects:</h3>
    <mat-list-item (click)="findObject('аптеки')"> Pharmacies </mat-list-item>
    <mat-list-item (click)="findObject('заправки')"> Gas stations </mat-list-item>
    <mat-list-item (click)="findObject('школы')"> Schools </mat-list-item>
    <mat-list-item (click)="findObject('рестораны')"> Restaurants </mat-list-item>
</mat-list>