.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }

  .search-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
  }