<form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="log()">
  <mat-form-field>
    <!-- <label for="login">Login</label> -->
    <input matInput formControlName="login" type="text" id="login" placeholder="Login (admin)">
  </mat-form-field>

  <mat-error *ngIf="formErrors.login" class="alert">
    {{formErrors.login}}
  </mat-error>

  <mat-form-field>
    <!-- <label for="password">Password</label> -->
    <input matInput formControlName="password" type="password" id="password" placeholder="Password (123456)">
  </mat-form-field>

  <mat-error *ngIf="formErrors.password" class="alert">
    {{formErrors.password}}
  </mat-error>

  <button class="submit-btn" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>

</form>
